<section class="nextEvent pb-76">
    <!-- vertical border -->
    <div class="vertical-border"></div>

    <div class="font-fs-lola-bold text-center text-white">
        <p class="text-12 pb-14 pt-8 uppercase">Our next events</p>
        <p class="font-fs-lola-bold text-30 lg:text-40">McSweeney's <br class="block md:hidden"> Williamsburg,<br>
            readymade leggings try-hard <br class="hidde md:block">
            90's street art</p>
    </div>
    <!-- horizontal border -->
    <div class="horizontal-border"></div>

    <div class="nextEvent__Carousel lg:flex container mx-auto">
        <div class="relative pb-24 ">
            <div class="carousel__container-text">
                <img src="https://i.ibb.co/ZHQYFXT/Bitmap-Copy-6.png" class="rounded-16" alt="">
                <div class="next__event_date_text rounded-16 bg-white pb-10">
                    <div class="flex justify-between text-green-dark text-14 py-12 px-12">
                        <p> Du 12 au 18 janvier 2020</p>
                        <p>Boucrâa</p>
                    </div>
                    <p class="my-10 mx-15">Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art
                        letterpress
                        hoodie occupy
                        Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon.</p>
                </div>
            </div>
        </div>
        <div class="relative pb-24 ">
            <div class="carousel__container-text">
                <img src="https://i.ibb.co/ZHQYFXT/Bitmap-Copy-6.png" class="rounded-16" alt="">
                <div class="next__event_date_text rounded-16 bg-white pb-10">
                    <div class="flex justify-between text-green-dark text-14 py-12 px-12">
                        <p> Du 12 au 18 janvier 2020</p>
                        <p>Boucrâa</p>
                    </div>
                    <p class="my-10 mx-15">Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art
                        letterpress
                        hoodie occupy
                        Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon.</p>
                </div>
            </div>
        </div>
        <div class="relative pb-24 ">
            <div class="carousel__container-text">
                <img src="https://i.ibb.co/ZHQYFXT/Bitmap-Copy-6.png" class="rounded-16" alt="">
                <div class="next__event_date_text rounded-16 bg-white pb-10">
                    <div class="flex justify-between text-green-dark text-14 py-12 px-12">
                        <p> Du 12 au 18 janvier 2020</p>
                        <p>Boucrâa</p>
                    </div>
                    <p class="my-10 mx-15">Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art
                        letterpress
                        hoodie occupy
                        Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon.</p>
                </div>
            </div>
        </div>
        <div class="relative pb-24 ">
            <div class="carousel__container-text">
                <img src="https://i.ibb.co/ZHQYFXT/Bitmap-Copy-6.png" class="rounded-16" alt="">
                <div class="next__event_date_text rounded-16 bg-white pb-10">
                    <div class="flex justify-between text-green-dark text-14 py-12 px-12">
                        <p> Du 12 au 18 janvier 2020</p>
                        <p>Boucrâa</p>
                    </div>
                    <p class="my-10 mx-15">Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art
                        letterpress
                        hoodie occupy
                        Wes Anderson Banksy. Asymmetrical viral letterpress, McSweeney's seitan 3 wolf moon.</p>
                </div>
            </div>
        </div>
    </div>

</section>