<section class="didYouKnow">
    <div class="container mx-auto">
        <!-- vertical border -->
        <div class="vertical-border"></div>

        <div class="font-fs-lola-bold text-center text-white">
            <p class="text-12 pb-14 pt-8 uppercase">DID YO KNOW</p>
            <p class="font-fs-lola-bold text-30 lg:text-40">McSweeney's <br class="block md:hidden"> Williamsburg,<br>
                readymade leggings try-hard <br class="hidde md:block">
                90's street art</p>
        </div>
        <!-- horizontal border -->
        <div class="horizontal-border"></div>

        <!-- small devices -->
        <div class="lg:hidden">

            <div class="img-text-container flex flex-col md:flex-row lg:container">
                <div class="flex-1 text-center px-20 pb-36">
                    <img src="https://i.ibb.co/mGZSLfd/Bitmap-1.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-420 lg:-mt-57" alt="..">
                    <p class="text-16 text-left text-white w-full my-10 leading-23 lg:hidden">Keytar McSweeney's
                        Williamsburg,
                        readymade
                        leggings
                        try-hard
                        90's street art letterpress hoodie occupy Wes Anderson Banksy.</p>
                </div>
                <div class="flex-1 text-center px-20 pb-36">
                    <img src="https://i.ibb.co/mXRCGPZ/Bitmap-2.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-363" alt="..">
                    <p class="text-16 text-left text-white w-full my-10 leading-23 lg:hidden">Keytar McSweeney's
                        Williamsburg,
                        readymade
                        leggings
                        try-hard
                        90's street art letterpress hoodie occupy Wes Anderson Banksy.</p>
                </div>
                <div class="flex-1 text-center px-20 pb-36">
                    <img src="https://i.ibb.co/c6J455L/Bitmap-3.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-420 lg:-mt-57" alt="..">
                    <p class="text-16 text-left text-white w-full my-10 leading-23 lg:hidden">Keytar McSweeney's
                        Williamsburg,
                        readymade
                        leggings
                        try-hard
                        90's street art letterpress hoodie occupy Wes Anderson Banksy.</p>
                </div>
            </div>
        </div>

        <!-- large devices -->
        <div class="hidden lg:block">
            <div class="img-text-container flex flex-col md:flex-row lg:container">
                <div class="container-div flex-1 text-center px-20 pb-36 relative">
                    <img src="https://i.ibb.co/mGZSLfd/Bitmap-1.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-363" alt="..">
                    <div class="middle-div text-16 text-left text-white">
                        <!-- vertical border -->
                        <div class="vertical-border"></div>
                        <h2 class="mt-14 mb-21">DID YOU KNOW </h2>
                        <p class="text-16 font-fs-lola-medium leading-20 ">Keytar McSweeney's Williamsburg, readymade
                            leggings try-hard 90's street art letterpress
                            hoodie occupy Wes Anderson Banksy.</p>
                    </div>
                </div>
                <div class="container-div flex-1 text-center px-20 pb-36 relative">
                    <img src="https://i.ibb.co/mXRCGPZ/Bitmap-2.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-420" alt="..">
                    <div class="middle-div text-16 text-left text-white">
                        <!-- vertical border -->
                        <div class="vertical-border"></div>
                        <h2 class="mt-14 mb-21">DID YOU KNOW </h2>
                        <p class="text-16 font-fs-lola-medium leading-20 ">Keytar McSweeney's Williamsburg, readymade
                            leggings try-hard 90's street art letterpress
                            hoodie occupy Wes Anderson Banksy.</p>
                    </div>
                </div>
                <div class="container-div flex-1 text-center px-20 pb-36 relative">
                    <img src="https://i.ibb.co/c6J455L/Bitmap-3.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-363" alt="..">
                    <div class="middle-div text-16 text-left text-white">
                        <!-- vertical border -->
                        <div class="vertical-border"></div>
                        <h2 class="mt-14 mb-21">DID YOU KNOW </h2>
                        <p class="text-16 font-fs-lola-medium leading-20 ">Keytar McSweeney's Williamsburg, readymade
                            leggings try-hard 90's street art letterpress
                            hoodie occupy Wes Anderson Banksy.</p>
                    </div>
                </div>
            </div>
            <div class="img-text-container flex flex-col md:flex-row lg:container">
                <div class="container-div flex-1 text-center px-20 pb-36 relative">
                    <img src="https://i.ibb.co/mGZSLfd/Bitmap-1.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-420 lg:-mt-57" alt="..">
                    <div class="middle-div text-16 text-left text-white">
                        <!-- vertical border -->
                        <div class="vertical-border"></div>
                        <h2 class="mt-14 mb-21">DID YOU KNOW </h2>
                        <p class="text-16 font-fs-lola-medium leading-20 ">Keytar McSweeney's Williamsburg, readymade
                            leggings try-hard 90's street art letterpress
                            hoodie occupy Wes Anderson Banksy.</p>
                    </div>
                </div>
                <div class="container-div flex-1 text-center px-20 pb-36 relative">
                    <img src="https://i.ibb.co/mXRCGPZ/Bitmap-2.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-363" alt="..">
                    <div class="middle-div text-16 text-left text-white">
                        <!-- vertical border -->
                        <div class="vertical-border"></div>
                        <h2 class="mt-14 mb-21">DID YOU KNOW </h2>
                        <p class="text-16 font-fs-lola-medium leading-20 ">Keytar McSweeney's Williamsburg, readymade
                            leggings try-hard 90's street art letterpress
                            hoodie occupy Wes Anderson Banksy.</p>
                    </div>
                </div>
                <div class="container-div flex-1 text-center px-20 pb-36 relative">
                    <img src="https://i.ibb.co/c6J455L/Bitmap-3.png"
                        class="object-cover rounded-10 h-220 w-full lg:h-420 lg:-mt-57" alt="..">
                    <div class="middle-div text-16 text-left text-white">
                        <!-- vertical border -->
                        <div class="vertical-border"></div>
                        <h2 class="mt-14 mb-21">DID YOU KNOW </h2>
                        <p class="text-16 font-fs-lola-medium leading-20 ">Keytar McSweeney's Williamsburg, readymade
                            leggings try-hard 90's street art letterpress
                            hoodie occupy Wes Anderson Banksy.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <p class="font-fs-lola-medium text-center text-white text-16 cursor-pointer">Do you need more </p>
            <img class="cursor-pointer" src="https://i.ibb.co/Sv7XGHW/left-arrow-2.png" alt="down arrow">
        </div>
    </div>

</section>