<section class="capsules pt-48">
    <div class="container mx-auto">
        <!-- vertical border -->
        <div class="vertical-border"></div>

        <div class="font-fs-lola-bold text-center text-white">
            <p class="text-12 pb-14 pt-8 uppercase">Capsules</p>
            <p class="font-fs-lola-bold text-30 lg:text-40">McSweeney's <br class="block md:hidden"> Williamsburg,<br>
                readymade leggings try-hard <br class="hidde md:block">
                90's street art</p>
        </div>
        <!-- horizontal border -->
        <div class="horizontal-border"></div>

        <div class="capsules__container lg:flex">
            <div class="text-center pb-27 rounded-8">
                <img class="h-436 lg:h-600" src="https://i.ibb.co/mXRCGPZ/Bitmap-2.png" alt="">
            </div>
            <div class="mx-20 lg:ml-29">
                <div class="text-30 text-white hidden lg:block">
                    <p> Readymade leggings <br> try-hard 90's street art</p>
                    <!-- horizontal small border -->
                    <div class="small-horizontal-border"></div>
                </div>
                <div class="flex my-16 bg-white rounded-8">
                    <div
                        class="cursor-pointer bg-green-dark rounded-full h-58 w-58 flex items-center justify-center my-16 ml-12">
                        <img src="https://i.ibb.co/8mc0P50/Triangle.png" alt="Triangle">
                    </div>
                    <div class="w-4/5 pl-12 pt-11">
                        <p class="text-14 text-grey-light font-fs-lola">12 min</small>
                            <p class="text-15 leading-18 font-fs-lola">McSweeney's Williamsburg, readymade leggings
                                try-hard
                                90's street
                                art
                            </p>
                    </div>
                </div>
                <div class="flex my-16 bg-white rounded-8">
                    <div
                        class="cursor-pointer bg-green-dark rounded-full h-58 w-58 flex items-center justify-center my-16 ml-12">
                        <img src="https://i.ibb.co/8mc0P50/Triangle.png" alt="Triangle">
                    </div>
                    <div class="w-4/5 pl-12 pt-11">
                        <p class="text-14 text-grey-light font-fs-lola">12 min</small>
                            <p class="text-15 leading-18 font-fs-lola">McSweeney's Williamsburg, readymade leggings
                                try-hard
                                90's street
                                art
                            </p>
                    </div>
                </div>
                <div class="flex my-16 bg-white rounded-8">
                    <div
                        class="cursor-pointer bg-green-dark rounded-full h-58 w-58 flex items-center justify-center my-16 ml-12">
                        <img src="https://i.ibb.co/8mc0P50/Triangle.png" alt="Triangle">
                    </div>
                    <div class="w-4/5 pl-12 pt-11">
                        <p class="text-14 text-grey-light font-fs-lola">12 min</small>
                            <p class="text-15 leading-18 font-fs-lola">McSweeney's Williamsburg, readymade leggings
                                try-hard
                                90's street
                                art
                            </p>
                    </div>
                </div>
                <div class="flex my-16 bg-white rounded-8">
                    <div
                        class="cursor-pointer bg-green-dark rounded-full h-58 w-58 flex items-center justify-center my-16 ml-12">
                        <img src="https://i.ibb.co/8mc0P50/Triangle.png" alt="Triangle">
                    </div>
                    <div class="w-4/5 pl-12 pt-11">
                        <p class="text-14 text-grey-light font-fs-lola">12 min</small>
                            <p class="text-15 leading-18 font-fs-lola">McSweeney's Williamsburg, readymade leggings
                                try-hard
                                90's street
                                art
                            </p>
                    </div>
                </div>
                <div class="text-center mt-19">
                    <p class="font-fs-lola-medium text-center text-white text-16 cursor-pointer">Do you need more </p>
                    <img class="cursor-pointer" src="https://i.ibb.co/Sv7XGHW/left-arrow-2.png" alt="down arrow">
                </div>
            </div>
        </div>


    </div>
</section>