<section class="testify">
    <div class="container mx-auto">
        <!-- vertical border -->
        <div class="vertical-border"></div>

        <div class="font-fs-lola-bold text-center text-white">
            <p class="text-12 pb-14 pt-8 uppercase">100 sec to testify</p>
            <p class="font-fs-lola-bold text-30 lg:text-40">McSweeney's <br class="block md:hidden"> Williamsburg,<br>
                readymade leggings try-hard <br class="hidde md:block">
                90's street art</p>
        </div>
        <!-- horizontal border -->
        <div class="horizontal-border"></div>

        <!-- sm testify block  -->
        <div class="lg:hidden">
            <div class="sm-scrolling-wrapper mb-28">
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1"></div>
                <div class="testifier w-67 h-67 mx-3"><img src=" https://i.ibb.co/D9jqvCK/pic2.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/82tRCQN/pic3.png" alt="pic3"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wrTKDT2/pic4.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/HGny4WJ/pic5.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1"></div>
                <div class="testifier w-67 h-67 mx-3"><img src=" https://i.ibb.co/D9jqvCK/pic2.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/82tRCQN/pic3.png" alt="pic3"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wrTKDT2/pic4.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/HGny4WJ/pic5.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1"></div>
                <div class="testifier w-67 h-67 mx-3"><img src=" https://i.ibb.co/D9jqvCK/pic2.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/82tRCQN/pic3.png" alt="pic3"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wrTKDT2/pic4.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/HGny4WJ/pic5.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1"></div>
                <div class="testifier w-67 h-67 mx-3"><img src=" https://i.ibb.co/D9jqvCK/pic2.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/82tRCQN/pic3.png" alt="pic3"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/wrTKDT2/pic4.png" alt="pic2"></div>
                <div class="testifier w-67 h-67 mx-3"><img src="https://i.ibb.co/HGny4WJ/pic5.png" alt="pic2"></div>
            </div>

            <div class="relative mx-20">
                <img src="https://i.ibb.co/vQVLCbr/Bitmap.png" class="rounded-16" alt="">
                <div class="testify__inside-pic bg-white rounded-16 ">
                    <div class="flex py-12 px-12">
                        <img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1">
                        <div class="pl-13 pt-12">
                            <p class="text-green-dark font-fs-lola-bold text-16 ">Issam EL ALAOUI</p>
                            <p class="text-13 text-grey-lighter">McSweeney's Williamsburg, readymade leggings try-hard
                                90's
                                street
                                art </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- lg testify block  -->
        <div class="hidden container mx-auto lg:block lg:flex lg:justify-between">
            <div class="relative mb-28">
                <div class="testify-img-1"><a href="#"><img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1"></a>
                </div>
                <div class="testify-img-2"><img src=" https://i.ibb.co/D9jqvCK/pic2.png" alt="pic2"></div>
                <div class="testify-img-3"><img src="https://i.ibb.co/82tRCQN/pic3.png" alt="pic3"></div>
                <div class="testify-img-4"><img src="https://i.ibb.co/wrTKDT2/pic4.png" alt="pic2"></div>
                <div class="testify-img-5"><img src="https://i.ibb.co/HGny4WJ/pic5.png" alt="pic2"></div>
                <div class="testify-img-6"><img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1"></div>
                <div class="testify-img-7"><img src=" https://i.ibb.co/D9jqvCK/pic2.png" alt="pic2"></div>
                <div class="testify-img-8"><img src="https://i.ibb.co/82tRCQN/pic3.png" alt="pic3"></div>
                <div class="testify-img-9"><img src="https://i.ibb.co/wrTKDT2/pic4.png" alt="pic2"></div>
                <div class="testify-img-10"><img src="https://i.ibb.co/HGny4WJ/pic5.png" alt="pic2"></div>
            </div>

            <div class="relative">
                <img src="https://i.ibb.co/vQVLCbr/Bitmap.png" class="rounded-16" alt="">
                <div class="testify__inside-pic bg-white rounded-16 ">
                    <div class="flex py-12 px-12">
                        <img src="https://i.ibb.co/wR53wvL/pic1.png" alt="pic1">
                        <div class="pl-13 pt-12">
                            <p class="text-green-dark font-fs-lola-bold text-16 ">Issam EL ALAOUI</p>
                            <p class="text-13 text-grey-lighter">McSweeney's Williamsburg, readymade leggings try-hard
                                90's
                                street
                                art </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>