// ==== FSLola ============================================================
@font-face {
    font-family: 'FSLola';
    src: url('../fonts/FSLola/FSLola.eot');
    src: url('../fonts/FSLola/FSLola.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FSLola/FSLola.ttf') format('truetype'),
         url('../fonts/FSLola/FSLola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// ==== FSLolaBold ============================================================
@font-face {
    font-family: 'FSLolaBold';
    src: url('../fonts/FSLolaBold/FSLolaBold.eot');
    src: url('../fonts/FSLolaBold/FSLolaBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FSLolaBold/FSLolaBold.ttf') format('truetype'),
         url('../fonts/FSLolaBold/FSLolaBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
// ==== FSLolaLight ============================================================
@font-face {
    font-family: 'FSLolaLight';
    src: url('../fonts/FSLolaLight/FSLolaLight.eot');
    src: url('../fonts/FSLolaLight/FSLolaLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FSLolaLight/FSLolaLight.ttf') format('truetype'),
         url('../fonts/FSLolaLight/FSLolaLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
// ==== FSLolaMedium ============================================================
@font-face {
    font-family: 'FSLolaMedium';
    src: url('../fonts/FSLolaMedium/FSLolaMedium.eot');
    src: url('../fonts/FSLolaMedium/FSLolaMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FSLolaMedium/FSLolaMedium.ttf') format('truetype'),
         url('../fonts/FSLolaMedium/FSLolaMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
// ==== FSLolaExtraBold ============================================================
@font-face {
    font-family: 'FSLolaExtraBold';
    src: url('../fonts/FSLolaExtraBold/FSLolaExtraBold.eot');
    src: url('../fonts/FSLolaExtraBold/FSLolaExtraBold.eot?#iefix') format('embedded-opentype'),
            url('../fonts/FSLolaExtraBold/FSLolaExtraBold.ttf') format('truetype'),
            url('../fonts/FSLolaExtraBold/FSLolaExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
